Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/esudoku
src/osx/eSudoku.xcodeproj/project.xcworkspace/
src/osx/eSudoku.xcodeproj/xcuserdata/
stamp-h1

